body {
    margin: 0;
    padding: 0;

    overflow-x: hidden;
  
}

header {
    height: 570px; 
    width: 100vw;

    background: url('./images/bg-pattern-intro-desktop.svg'), linear-gradient(to right,
        hsl(13, 100%, 72%) 0%,
        hsl(13, 100%, 72%) 35%,
        hsl(353, 100%, 62%) 100%);

   
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 26.8% 52%;

    border-radius: 0 0 0 65px;
    font-family: "Ubuntu";


}


.nav-bar {
    display: flex;
    justify-content: space-between;

    padding-top: 50px;

}

.logo-nav-container {
    display: flex;
    justify-content: space-between;

    gap: 55px;

    margin-left: 120px;
}

.nav {
    display: flex;
    align-items: center;

    gap: 35px;
    padding-bottom: 0;
}

.arrow {
    display: inline;
    padding-left: 5px;
}

/* Product - Nav */

.product-link > a, .company-link > a, .connect-link > a {
    color: white;
    text-decoration: none;

    padding-bottom: 20px;

}

.product-link > a:hover, .company-link > a:hover,
.connect-link > a:hover {

    text-decoration: underline;

}


.product-menu {
    position: relative;
   
  
}

.product-submenu {
    display: none;
    
    background-color: white;

    padding: 25px 25px 25px 15px;
    margin-top: 20px;
    
    
    border-radius: 7px;

    position: absolute;
    
}

.product-submenu > a {
    color: hsl(240, 10%, 16%);
    text-decoration: none;

}

.product-submenu > a:hover {
    font-weight: bold;
}

.product-menu:hover .product-submenu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.product-menu:hover .product-link > div > img {

    transform: rotate(180deg);
}

/* Company - Nav */

.company-link>a {
    color: white;
    text-decoration: none;

    padding-bottom: 20px;

}


.company-link>a:hover {
    text-decoration: underline;

}


.company-menu {
    position: relative;


}

.company-submenu {
    display: none;

    background-color: white;

    padding: 25px 25px 25px 15px;
    margin-top: 20px;


    border-radius: 7px;

    position: absolute;

}

.company-submenu>a {
    color: hsl(240, 10%, 16%);
    text-decoration: none;

}

.company-submenu>a:hover {
    font-weight: bold;
}

.company-menu:hover .company-submenu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.company-menu:hover .company-link > div > img {

    transform: rotate(180deg);
}


/* Connect - Nav */

.connect-link>a {
    color: white;
    text-decoration: none;

    padding-bottom: 20px;

}


.connect-link>a:hover {
    text-decoration: underline;

}


.connect-menu {
    position: relative;


}

.connect-submenu {
    display: none;

    background-color: white;

    padding: 25px 25px 25px 15px;
    margin-top: 20px;


    border-radius: 7px;

    position: absolute;

}

.connect-submenu>a {
    color: hsl(240, 10%, 16%);
    text-decoration: none;

}

.connect-submenu>a:hover {
    font-weight: bold;
}

.connect-menu:hover .connect-submenu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.connect-menu:hover .connect-link>div>img {

    transform: rotate(180deg);
}


.log-sign {
    display: flex;
    align-items: center;

    gap: 30px;

    margin-right: 82px;

}

.log-in {
    color: white;
}

.sign-up {
    
    padding: 15px 40px;
    color: hsl(353, 100%, 62%);
    background-color: white;

    border-radius: 25px 25px 25px 25px;
}

.sign-up:hover {
    background-color: hsl(355, 100%, 74%);
    color: white;
}

.header-about {
   
    text-align: center;

    margin-top: 120px;

    font-family: "Overpass";
  
   
}

.header-title {
    color: white;
    font-size: 64px;
    
    margin-bottom: 10px;
}

.header-text {
    color: white;
    font-size: 21px;
    margin-bottom: 50px;
}

.btn1 {
    font-size: 16px;
    font-weight: 600;
    padding: 17px 35px;

    color: hsl(353, 100%, 62%);
    background-color: white;

    border: none;
    border-radius: 25px 25px 25px 25px;
}

.btn1:hover {
    background-color: hsl(355, 100%, 74%);
    color: white;
}

.btn2 {
    font-size: 16px;
    font-weight: 600;

    background-color: transparent;
    color: white;

    border: 1px solid white;
    
    padding: 17px 35px;

    border-radius: 25px 25px 25px 25px;

    margin-left: 5px;
}

.btn2:hover {
    background-color: white;
    color: hsl(355, 100%, 74%);
}

.sections {
    width: 100vw;
}


/* Section One */

.section-one {
    width: 100%;
    overflow-x: hidden;
    padding-top: 10px;

    display: grid;
    
    grid-template-columns: repeat(1fr, auto);
}



.section-one-info {
    grid-column: 1/2;
    padding-top: 45px;

    font-family: "Overpass";
    color: hsl(208, 49%, 24%);

}

.section-one-title {
    font-size: 32px;
    font-weight: 600;
    margin-top: 70px;
    margin-right: -90px;
    margin-bottom: 90px;
   
    text-align: end;

}


.section-one-info-paras {
    font-size: 16px;
    line-height: 160%;

    padding-right: 80px;
    padding-left: 80px;

    color: hsl(207, 13%, 34%);

    
}

.section-one-info-paras > div > h2 {
    color: hsl(208, 49%, 24%);
}

.section-one-para1 {
    padding-bottom: 70px;
}

.section-one-img {
    grid-column: 2/3;
   
    
}

.section-one-img > div {
   margin-right: -245px;
   
}

/* Section Two */

.section-two {
    height: 425px;
    margin-top: 50px;
    margin-bottom: 100px;

    display: flex;
    background-color: hsl(237, 17%, 21%);
    border-radius: 0 65px 0 65px;

    overflow: hidden;
   
}

.circles > img {
    margin-top: -500px;
    margin-left: -220px;
 
}


.phones {
    position: absolute;
    top: 1465px;
    left: 120px;
    padding: 0;
    margin: 0;

}

.section-two-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: -100px;

    font-family: "Overpass";
    line-height: 200%;
    color: white;

}

.section-two-para1 {
    margin-right: 150px;
}


/* Section Three */

.section-three {
    width: 100%;
    overflow-x: hidden;
    padding-top: 10px;

    display: grid;

    grid-template-columns: repeat(1fr, auto);
}



.section-three-info {
    grid-column: 2/3;
    padding-top: 190px;

    font-family: "Overpass";
    color: hsl(208, 49%, 24%);

}

.section-three-img {
    grid-column: 1/2;


}

.section-three-img > div {
    margin-left: -275px;

}

.section-three-info-paras {
    font-size: 16px;
    line-height: 160%;
    color: hsl(207, 13%, 34%);


}

.section-three-info-paras > div > h2 {
    color: hsl(208, 49%, 24%);
    margin-bottom: 30px;
}

.section-three-para1 {
    margin-bottom: 80px;
}

/* Footer */

footer {
    height: 400px;
    width: 100vw;
    
    color: white;
    background-color: hsl(240, 10%, 16%);

    font-family: "Ubuntu";

    padding-top: 75px;

    border-radius: 0 85px 0 0;

    
}

.footer-info {
    display: flex;
    justify-content: space-evenly;

    margin-bottom: 100px;

    
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution>a {
    text-decoration: none;

    color: hsl(13, 100%, 72%);
}

.attribution>a:hover {
    color: hsl(353, 100%, 62%);
}


/* Product Section - Footer */
.product-links {
    display: flex;
    flex-direction: column;

    gap: 25px;


}

.product-h {
    margin-bottom: 45px;

    font-weight: 600;
}

.product-links > a {
    color: white;

    text-decoration: none;

}

.product-links > a:hover {
    text-decoration: underline;

}

/* Company Section - Footer */
.company-links {
    display: flex;
    flex-direction: column;

    gap: 25px;


}

.company-h {
    margin-bottom: 45px;

    font-weight: 600;
}

.company-links>a {
    color: white;

    text-decoration: none;

}

.company-links>a:hover {
    text-decoration: underline;

}

/* Connect Section - Footer */
.connect-links {
    display: flex;
    flex-direction: column;

    gap: 25px;


}

.connect-h {
    margin-bottom: 45px;

    font-weight: 600;
}

.connect-links>a {
    color: white;

    text-decoration: none;

}

.connect-links>a:hover {
    text-decoration: underline;

}

/*Nav menu*/

.menu {
    background-color: white;
    padding: 25px;

    border-radius: 7px;
    
    position: absolute;
    top: 105px;
    left: 240px;

    display: flex;
    flex-direction: column;

    gap: 15px;
}

.menu > a {
    text-decoration: none;
    color: hsl(240, 10%, 16%);
}

/* Media Queries */

@media screen and (max-width: 1024px) {
    .section-one-info-paras {

        padding-right: 30px;
        padding-left: 30px;
        
    }

    .section-one-title {
        margin-bottom: 50px;

    }

    .section-one-para1 {
        padding-bottom: 10px;
    }

    .section-two-para1 {
        margin-right: 50px;
    }

    .section-three-info {
        padding-top: 150px;
    }

    .section-three-para1 {
        margin-bottom: 20px;
    }
  
}

@media screen and (max-width: 956px) {
    .section-one {
        width: 100%;
        display: flex;
        flex-direction: column;
        
    }

    .section-one-title {
        text-align: start;
        padding-left: 28px;
    }

    .phones {
        position: absolute;
        top: 1910px;
    }

    .section-three {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .section-three-para2 {
        margin-bottom: 50px;
    }


}

@media screen and (max-width: 900px) {
    .logo-nav-container {
        display: flex;
        flex-direction: column;
        gap: 0;

    }
    
    .nav {
        gap: 15px;
    }
    .phones > img {
        width: 80%;
        height: 80%;
    }

    .section-two-info {
        line-height: normal;
        margin-left: -200px;
    }
}

@media screen and (max-width: 770px) {

    .section-two-info {
        line-height: normal;
        margin-left: -250px;
    }
}

@media screen and (max-width: 723px) {
    .phones {
        left: 50px;
    }

    .section-two-info {
        line-height: normal;
        margin-left: -300px;
    }

   
}

@media screen and (max-width: 680px) {
    .sign-up {
        font-size: 14px;
    }
}

@media screen and (max-width: 672px) {
    .sign-up {
        padding: 15px 30px;
    }

    .section-two-info {
        font-size: 90%;
    }
}


@media screen and (max-width: 650px) {
    .sign-up {
        padding: 15px 20px;
    }
    .section-two-info {
        font-size: 80%;
    }
}

@media screen and (max-width: 630px) {
    .sign-up {
        padding: 15px 15px;
    }

    .section-two-info {
        font-size: 70%;
    }
}

@media screen and (max-width: 620px) {
    .sign-up {
        padding: 15px 12px;
    }

    .section-two-info {
        font-size: 70%;
    }
}